<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
            <!--<span style="background-color:pink"><strong>　title　</strong></span>-->
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% ideas.each do |idea| %>
      <tr>
        <td><%= link_to idea_path(idea.user) do %>
        　<!--path,'文字'. でも記述できる-->
          <%#= image_tag idea.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to idea.title,idea %></td>
        <td><%= idea.body %></td>
        <td id = "favorite_<%= idea.id %>">
             <%= render partial: "user/favorites/favorite", locals: { idea: idea } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>