<!--いいね一覧ページ-->

<th class="mt-2"><strong>（全<%= ideas.count%>件）</strong></th>
  <% if current_user %>
    <%= link_to "いいね一覧", favorites_user_path(@user) %>
  <% end %>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>画像</th>
        <th>タイトル</th>
        <th>おすすめポイント</th>
        
      </tr>
    </thead>
    <tbody>
      <% ideas.each do |idea| %>
        <tr>
          <td><%= image_tag idea.get_image, size:"200x150" %></td>
          <td><%= link_to idea.title,idea %></td>
          <td><%= idea.body %></td>
          </td>
          <% if current_user %>
          <td id = "favorite_<%= idea.id %>">
               <%= render partial: "user/favorites/favorite", locals: { idea: idea } %>
          </td>
          <% end %>
          <td>
            <% if current_admin %>
              <%= link_to "管理者が削除するよ", admin_idea_path(idea.id), method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
        
    </tbody>
  </table>