<!--アイデア一覧ページ-->

<strong>（全<%= ideas.count%>件）</strong>
  <% if current_user %>
    <%= link_to "いいね一覧", favorites_user_path(current_user) %>
    <!--新規投稿時変更有り-->
  <% end %>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>画像</th>
        <th>タイトル</th>
        <th>おすすめポイント</th>
      </tr>
    </thead>
    <tbody>
      <% ideas.each do |idea| %>
        <tr>
          <td>
            <%= link_to idea_path(idea) do %>
              <%#= image_tag idea.get_image, size:"200x150" %>
              <%= image_tag idea.get_image, class: 'w-150 favorite-card-img' %>
            <% end %>
          </td>
            <% if current_admin %>
          <td><%= link_to idea.title, admin_idea_path(idea) %></td>
            <% else %>
          <td><%= link_to idea.title,idea %></td>
          <!--第一引数が表示させたいもの・第２引数遷移先-->
            <% end %>
          <td><%= idea.body %></td>
          </td>
            <% if current_user %>
          <td id = "favorite_<%= idea.id %>">
               <%= render partial: "user/favorites/favorite", locals: { idea: idea } %>
          </td>
          <td>
             <i class="fas fa-comment-dots"></i><%= idea.idea_comments.count %>
          </td>
             <% end %>
          <td>
            <% if current_admin %>
              <%= link_to "管理者が削除するよ", admin_idea_path(idea.id), method: :delete, remote:true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>