<div class="mt-2"><strong>（全<%= ideas.count%>件）</strong></div>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>画像</th>
      <th>Title</th>
            <!--<span style="background-color:pink"><strong>　title　</strong></span>-->
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    
    <% ideas.each do |idea| %>
      <tr>
        <td><%= image_tag idea.get_image, size:"200x150" %></td>
        <td><%= link_to idea.title,idea %></td>
        <td><%= idea.body %></td>
        </td>
        <td id = "favorite_<%= idea.id %>">
             <%= render partial: "user/favorites/favorite", locals: { idea: idea } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>