<div class='container px-5 px-sm-0'>
  <%= link_to '新規投稿', new_idea_path, class: "btn btn-info" %>
  <%= render 'layouts/errors', obj: @idea %>
  <div class='row'>
    <div class='col-md-3'>
      <h3><strong>User info</strong></h3>
      <%= render 'user/users/info', user: current_user %>
      <h3 class="mt-3"><strong>ジャンル</strong></h3>
      <%= render 'genre_search', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2><strong>ユーザーアイデア一覧</strong></h2>
      <%= render 'index', ideas: @ideas %>
    </div>

  </div>
</div>