<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @idea %>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'user/users/info', user: current_user %>
      <h2 class="mt-3">New idea</h2>
      <%= render 'form', idea: @idea %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Ideas</h2>
      <%= render 'index', ideas: @ideas %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>ジャンル</h2>
      <%= render 'admin/genre/index', genres: @genres %>
    </div>
  </div>
</div>