<%#後で消す%>
<div class="container">
  <%= render 'layouts/errors', obj: @idea %>
  <div class="row">
    <div class="mx-auto" style="width: 500px;">
    <h3><strong>新規投稿</strong></h3>
  <%= form_with model:@idea, url: ideas_path, method: :post do |f| %>
       <strong><%= f.label :image, "画像", style:"margin-right:120px;" %></strong>
        <%= f.file_field :image, accept: 'image/*' %><br>
        
        <strong><%= f.label :title, "タイトル", style:"margin-right:88px;"  %></strong>
        <%= f.text_field :title, placeholder: "アイデア", class: 'form-control' %><br>
        
        <strong><%= f.label :body, "おすすめポイント", style:"vertical-align:top; margin-top:5px; margin-right:23px;"  %></strong>
        <%= f.text_area :body, placeholder: "200文字以内で記述が可能です。", rows: 5, class: 'form-control' %><br>
        
        <strong><%= f.label :genre_id, "ジャンル", style:"margin-right:88px;"  %></strong>
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), {}, class: 'form-control' %><br>

  <div class="form-group">
    <%= f.submit "新規登録", class: "btn btn-info" %>
  </div>
<% end %>
</div>
</div>
</div>

