<!--/ ----- 'comments/_index'で使用中 ------->
<div class="row mb-3">
  <div class="col-md-4 text-center">
    <div class="profile-image">
      <%= link_to user_path(comment.user.id) do %>
        <%= image_tag comment.user.get_profile_image, class: 'rounded-circle', size: '50x50' %>
      <% end %>
    </div>
    <small>
      <%= link_to "#{comment.user.name}さん", user_path(comment.user.id), class: 'link' %>
    </small>
  </div>
  <div class="col-md-8 text-center text-md-left">
    <%= simple_format(comment.comment) %>
    <div class="control-btn">
      <% if comment.user == current_user %>
        <%= link_to '削除', idea_idea_comment_path(comment.idea_id, comment.id), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
      <% end %>
    </div>
  </div>
</div>