<!-- 'ideas/show'で使用中 -->
<div id="comment-count">
  <h6>コメント一覧<%= "#{comments.count}件" %></h6>
</div>
<div id="comments">
  <% comments.first(2).each do |comment| %>
    <%= render 'user/idea_comments/idea_comments', comment: comment %>
    <% if current_admin %>
      <%= link_to "管理者が削除するよ", admin_idea_idea_comment_path(@idea.id, comment.id), method: :delete, remote:true %>
      <!--remote:true 非同期　jsを呼ぶ記述　順番は不順でok-->
    <% end %>
  <% end %>
</div>

<!-- コメントが3件以上の場合、残りのコメントをプルダウンで表示するボタンの作成 -->
<% comments.offset(2).any? %>
<div id="more_btn">
  <button type="button" class="btn btn-info" onclick="document.getElementById('more_btn').style.display='none'; document.getElementById('more_comments').style.display='block'">
    <!--onclick= JavaScriptの呼び出し　document＝ページ全体　getElementById('more_btn')＝Element＝タグの塊　　more_btnを呼び出してください　style＝css .display='none'=アクションを起こす　-->
    もっと見る....
  </button>
</div>
<div id="more_comments" style="display:none">
  <% comments.offset(2).each do |comment| %>
    <%= render 'user/idea_comments/idea_comments', comment: comment %>
    <% if current_admin %>
      <%= link_to "管理者が削除するよ", admin_idea_idea_comment_path(@idea.id, comment.id), method: :delete, remote:true %>
    <% end %>
  <% end %>
  <div id="return_btn">
    <button type="button" class="btn btn-info" onclick="document.getElementById('more_btn').style.display='block'; document.getElementById('more_comments').style.display='none'">
      隠す....
  </button>
</div>

</div>
